 body {
      background-color: papayawhip;
      font-family: Verdana;
    }

    h1 {
      color: #333333;
      opacity: 0.9;
      border-bottom: 5px solid blue;
    }

    img {
        width: 120px;
    }